body{
	text-align:center;

	background-image: url("https://s2.best-wallpaper.net/wallpaper/1920x1080/1307/Beautiful-cosmic-space-planets-stars_1920x1080.jpg");
 	
 	
}
.titulo{
	
	background-color: #FFE4C4;
	

}
.primeiraImg{
	
	text-align:center;




}

.plano1{
	background-image: url("");
}


h1{
	color:#B8860B;
}
h3{
	color:#FFFFE0;
}
.nova{
	color: black;
}

.h2{
	color:#0000CD;
}

.topicos{
	color: #E8E8E8;
}
.Item{
	color: #98F5FF;
}
.Main{
	color: #E0FFFF;
}
