body{
	text-align:center;
<<<<<<< HEAD
	background-color: #C1CDC1;
=======
>>>>>>> 967bf31a0d707c23e882b3b5506c6019485f465a
}
.titulo{
	
	background-color: #FFE4C4;
	

}
.primeiraImg{
	
	text-align:center;




}

.separador{

	
}

h1{
	color:#000080;
}
h3{
	color: #2F4F4F;
}

.h2{
	color: #1E90FF;
}
<<<<<<< HEAD

.Item{
	color: #00008B;
}
.Main{
	color: #8B0000;
}
=======
>>>>>>> 967bf31a0d707c23e882b3b5506c6019485f465a
