body{
	text-align:center;
	background-color: #C1CDC1;
}
.titulo{
	
	background-color: #FFE4C4;
	

}
.primeiraImg{
	
	text-align:center;




}

.separador{

	
}

h1{
	color:#000080;
}
h3{
	color: #2F4F4F;
}

.h2{
	color: #1E90FF;
}

.Item{
	color: #00008B;
}
.Main{
	color: #8B0000;
}