body{
	text-align: center;
	font-family: arial;
}

.navigation{
	background-color: #c4170c;
	color: white;
}
.navigation h2{
	background-color: #b0140a;
}

.titulo-artigo h1{
	margin-left: 120px;
	margin-right: 120px;
	font-size: 52px;
}
.titulo-artigo h2{
	margin-left: 140px;
	margin-right: 120px;
	font-size: 48px;
}
.content{
	background-color: gray;
}